<div class="map-selector">
    <div class="input-container">
        <div>
            <mat-radio-group [formControl]="inputTypeControl">
                <mat-radio-button class="radio-item" [value]="keywordsType.Text">关键字</mat-radio-button>
                <mat-radio-button class="radio-item" [value]="keywordsType.LngLat">坐标</mat-radio-button>
            </mat-radio-group>
        </div>
        <div  class="keywords-input-container">
            <mat-form-field appearance="outline">
                <mat-label>请输入</mat-label>
                <input [formControl]="inputValueControl"  matInput placeholder="请输入{{inputTypeControl.value==keywordsType.Text?'关键字':'坐标'}}进行搜索" required>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="searchListener()">搜索</button>
        </div>
    </div>
    <div class="result-container">
        <mat-form-field appearance="outline">
            <mat-label>结果</mat-label>
            <input matInput class="result-input" [value]="pickedCoordinate? pickedCoordinate.lng+','+pickedCoordinate.lat:''" placeholder="">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="copyCoordinate()">复制</button>
    </div>
</div>